<div class="flex flex-col w-full gap-2">
  <h2 class="mb-0 px-8 !mt-4">Produtos recém adicionados</h2>
  @if (loading) {
  <p class="text-center text-xl loading">Carregando informações</p>
  } @else if (!products?.content?.length) {
  <div
    class="w-full md:h-[338px] h-72 flex flex-col justify-center items-center"
  >
    <p class="text-center text-xl">Nenhum produto encontrado</p>
  </div>
  } @else {
  <p-carousel
    [value]="products?.content ?? []"
    [numVisible]="8"
    [numScroll]="1"
    [circular]="true"
  >
    <ng-template let-product pTemplate="item">
      <div class="m-2 p-3">
        <app-product-card [product]="product" />
      </div>
    </ng-template>
  </p-carousel>
  <div class="flex flex-row items-center justify-end px-8">
    <a
      matRipple
      class="flex flex-row gap-2 cursor-pointer no-underline active:no-underline text-gray-900"
      href="/produtos"
    >
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 21v-9m3-4H7.5a2.5 2.5 0 1 1 0-5c1.5 0 2.875 1.25 3.875 2.5M14 21v-9m-9 0h14v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8ZM4 8h16a1 1 0 0 1 1 1v3H3V9a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"
        />
      </svg>
      Ver todos os produtos
    </a>
  </div>
  }
</div>
