<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-blue-gray-700 uppercase bg-gray-50">
      <tr>
        @for (column of columns; track $index) {
        <th scope="col" class="px-6 py-3">
          {{ column }}
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for(domain of domains?.content; track $index) {
      <tr>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-blue-gray-900 whitespace-nowrap uppercase"
        >
          {{ domain.name }}
        </th>
        <td class="px-6 py-4">{{ domain.url }}</td>
        <td class="px-6 py-4">
          {{ domain.verified ? "Verificado" : "Não verificado" }}
        </td>
        <td class="px-6 py-4">
          {{ domain.verifiedIn | date : "dd/MM/yyyy" }}
        </td>
        <td class="px-6 py-4 flex flex-col">
          <button
            class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-48"
          >
            <a
              [href]="'/links?dominio=' + domain.name"
              class="font-medium text-white no-underline"
              >Visualizar links</a
            >
          </button>
          <button
            (click)="exploreDomainAgain(domain)"
            class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-48"
          >
            Explorar Novamente
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
