<div
  class="w-full min-h-screen bg-blue-500 flex flex-col justify-center items-center md:p-0 p-4"
>
  <section
    class="md:w-[600px] w-full h-[500px] p-8 flex flex-col justify-center items-center bg-white border-blue-gray-700 border rounded shadow-sm shadow-gray-300"
  >
    <div
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img class="w-8 h-8 mr-2" src="/assets/logo.png" alt="logo" />
      Price Catalog
    </div>
    <h1
      class="text-xl font-bold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white"
    >
      Conecte-se na sua conta
    </h1>
    <form class="w-full flex flex-col gap-4" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label class="text-blue-gray-700">E-mail ou username</mat-label>
        <input
          class="text-blue-gray-700"
          matInput
          formControlName="usernameEmail"
          required="true"
        />
        @if(loginForm.get('usernameEmail')?.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      <app-password-field
        class="w-full"
        formControlName="password"
        [required]="true"
      />
      <div class="flex items-center justify-between">
        <div class="flex items-start">
          <mat-checkbox
            class="text-blue-gray-700"
            formControlName="rememberPassword"
            >Lembrar da senha</mat-checkbox
          >
        </div>
      </div>
      <button
        [disabled]="loginForm.invalid && loginForm.dirty"
        type="submit"
        [class]="loginForm.invalid ? disabledButtonClass : buttonClass"
        (click)="login()"
      >
        Conectar
      </button>
      <p class="text-sm font-light text-blue-gray-700">
        Não tem conta ainda? Crie uma conta.
        <a
          href="/usuario/criar-conta"
          class="font-medium text-blue-600 hover:underline"
          >Criar conta</a
        >
      </p>
    </form>
  </section>
</div>
