<div class="flex flex-col w-full gap-2">
  <h2 class="mb-0 px-8 !mt-4">Top marcas</h2>
  @if(!brands?.content?.length) {
  <div
    class="w-full md:h-[338px] h-72 flex flex-col justify-center items-center"
  >
    <p class="text-center text-xl">Nenhuma marca encontrada</p>
  </div>
  } @else {
  <p-carousel
    [value]="brands?.content ?? []"
    [numVisible]="8"
    [numScroll]="1"
    [circular]="true"
  >
    <ng-template let-brand pTemplate="item">
      <div class="m-2 p-3">
        <app-brand-list-item [brand]="brand.description!" />
      </div>
    </ng-template>
  </p-carousel>
  <div class="flex flex-row items-center justify-end px-8">
    <span matRipple class="flex flex-row gap-2 cursor-pointer">
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 19V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v13H7a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M9 3v14m7 0v4"
        />
      </svg>
      Ver todas as marcas
    </span>
  </div>
  }
</div>
